/* CSS RESET START */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul, ol, li {
    padding-left: 15px;
    line-height: 1.8em;
}

img {
    max-width: 100%;
    height: auto;
}
/* CSS RESET END */

html {
    background-color: #002b36;
}

body {
    padding-top: 15px;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    line-height: 1.4;
    color: #657b83;
    background-color: #fdf6e3;
    margin: 0 auto;
    width: 75%;
    max-width: 880px;
    -webkit-box-shadow: 0 4px 16px 2px #073642;
	  -moz-box-shadow: 0 4px 16px 2px #073642;
	  box-shadow: 0 4px 16px 2px #073642;
}

#content {
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Play", Arial, sans-serif;
}

h1 {
    font-size: 36px;
    color: #ffffff;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 12px;
    font-size: 32px;
}

.notes h2 {
    border-bottom: 4px solid  #6c71c4;
}

.refdoc h2 {
    border-bottom: 4px solid  #859900;
}

.recipe h2 {
    border-bottom: 4px solid  #CB4B16;
}

.widoc h2 {
    border-bottom: 4px solid  #268BD2;
}

h3 {
    padding: 24px 0 0 0;
    font-size: 26px;
}

h4 {
    padding: 20px 0 10px 0;
    font-size: 18px;
}

h5 {
    padding: 16 0 0 0;
    font-size: 18px;
}

p {
    padding: 10px 0 10px 0;
}

#docmeta {
    padding: 25px 20px 20px 20px;
    background: #eee8d5;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -2px #002b36;
	  -moz-box-shadow: 0 4px 6px -2px #002b36;
	  box-shadow: 0 4px 6px -2px #002b36;
}

#doctitle {
    border-radius: 4px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 3px -1px #002b36;
	  -moz-box-shadow: 0 2px 3px -1px #002b36;
	  box-shadow: 0 2px 3px -1px #002b36;
}

.notes #doctitle {
    background: #6c71c4;
}

.refdoc #doctitle {
    background: #859900;
}

.recipe #doctitle {
    background: #CB4B16;
}

.widoc #doctitle {
    background: #268BD2;
}

#docmeta-doctype {
    font-family: "Play", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

#docmeta-table {
    padding: 5px 10px 0 10px;
    line-height: 0.9;
    font-size: 12px;
}

#docmeta h2 {
    font-size: 16px;
    border-bottom: 0;
    margin-top: 1em;
    margin-bottom: 0;
}

#docmeta a {
    color: #657B83;
}

#docmeta ol {
    list-style: none;
}

#docmeta ul {
    list-style: none;
}

#table-of-contents {
    font-size: 12px;
    line-height: 1.2;
}

#table-of-contents a:link,
#table-of-contents a:visited {
    background: transparent;
}

#table-of-contents ul>li {
    padding-left: 10px;
    margin-top: 4px;
}

#table-of-contents ul>li>ul>li {
    padding-left: 18px;
}

#table-of-contents .tag {
    display: none;
}

#table-of-contents .todo,
#table-of-contents .cancelled,
#table-of-contents .done {
    font-size: 12px;
}

hr {
    border: 0;
    height: 2px;
}

.notes hr {
    border-bottom: 2px solid #6c71c4;
}

.refdoc hr {
    border-bottom: 2px solid #859900;
}

.recipe hr {
    border-bottom: 2px solid #CB4B16;
}

.widoc hr {
    border-bottom: 2px solid #268BD2;
}

a:link, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

a:link {
    background: #ff8;
}

a:visited {
    color: #666;
    background: #ffc;
}

a:link:hover,
a:visited:hover {
    background: #ff0;
}

a[href^="http"] {
    background: #bff;
}

a[href^="http"]:visited {
    background: #dff;
}

a[href^="http"]:link:hover,
a[href^="http"]:visited:hover {
    background: #0ff;
}

a[href^="http"]:after {
    content: "\21B3";
    background: white;
    padding-left: 0.2em;
}

table {
    line-height: 1;
    font-size: 12px;
    margin: 0 auto;
    width: 100%;
}

.t-above {
    padding: 25px 0 5px 10px;
    text-align: left;
    padding-left: 10px;
}

table, th, td {
    border: 1px solid #93a1a1;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #FDF6E3;
}

tbody tr:nth-child(even) {
    background-color: #EEE8D5;
}

.REQUIREMENT {
    margin: 10px 0;
    padding: 0.5em;
    background-color: #eee8d5;
    background-size: 8px 8px;
    background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.03) 25%, rgba(0, 0, 0, 0.03) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.03) 75%, rgba(0, 0, 0, 0.03));
}

.REQUIREMENT:before {
    content: "REQUIREMENTS";
    color: #cb4b16;
    font-size: 80%;
}

.WARNING {
    margin: 10px 0;
    padding: 0.5em;
    background-color: #FFA76A;
    background-size: 8px 8px;
    background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.03) 25%, rgba(0, 0, 0, 0.03) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.03) 75%, rgba(0, 0, 0, 0.03));
}

.WARNING:before {
    content: "WARNING";
    color: #cb4b16;
    font-size: 80%;
}

.NOTE {
    margin: 10px 0;
    background-color: #EEE8D5;
    padding: 5px;
}

code {
    font-family: "Inconsolata", monospace;
    font-size: 12px;
}

td code {
    font-family: "Inconsolata", monospace;
    font-weight: bold;
}

p>code, li>code {
    background-color: #eee8d5;
    padding: 0.25em;
}

img {
    max-width: 90%;
}

div.notice {
    position: relative;
    margin: 0 1.2em;
    padding: 0.25em 1em;
    border-left: 4px solid;
}

table + div.notice {
    margin-top: 2em;
}

div.notice a {
    background: transparent !important;
    border-bottom: 1px dotted;
}

div.notice a[href^="http"]:after {
    background: transparent !important;
}

div.notice:before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em 0;
    font-size: 60%;
    border-bottom-left-radius: 2px;
}

.notice-warning {
    background: #fcc;
    color: #600;
}

.notice-example {
    background: #def;
    color: #069;
}

.notice-info {
    background: #efe;
    color: #060;
}

.notice-warning a {
    color: #600;
}

.notice-example a {
    color: #069;
}

.notice-info a {
    color: #060;
}

div.notice-warning:before {
    content: "WARNING";
    background: #c99;
    color: #fcc;
}

div.notice-example:before {
    content: "EXAMPLE";
    background: #abc;
    color: #def;
}

div.notice-info:before {
    content: "INFO";
    background: #9c9;
    color: #efe;
}

pre {
    font-family: Inconsolata;
    margin: 10px 0 20px 0;
    border: 2px inset #eee8d5;
    border-radius: 2px;
    box-shadow: none;
}

pre.example:before {
    content: "Example:";
    display: block;
    border-bottom: 1px dotted;
    margin-bottom: 1em;
}

pre.example {
    font-family: "Inconsolata", monospace;
    background: #eee8d5;
    color: #657b83;
    font-size: 0.9em;
}

pre {
    background-color: #eee8d5;
    background-size: 8px 8px;
    background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.03) 25%, rgba(0, 0, 0, 0.03) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.03) 75%, rgba(0, 0, 0, 0.03));
}

pre.src {
    font-family: "Inconsolata", monospace;
    padding: 0.5em;
}

pre.src:before {
    display: block;
    position: absolute;
    background-color: #fdf6e3;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    border-bottom-left-radius: 4px;
    border: 0;
    color: #002b36;
    font-size: 80%;
}

pre.src-plantuml:before {
    content: "UML";
}

pre.src-javascript:before {
    content: "JS";
}

pre.src-clojure:before {
    content: "CLJ";
}

pre.src-c:before {
    content: "C";
}

span.org-string {
    color: #f94;
}

span.org-keyword {
    color: #c07;
}

span.org-variable-name {
    color: #f04;
}

span.org-clojure-keyword {
    color: #09f;
}

span.org-comment, span.org-comment-delimiter {
    color: #999;
}

span.org-rainbow-delimiters-depth-1, span.org-rainbow-delimiters-depth-5 {
    color: #666;
}

span.org-rainbow-delimiters-depth-2, span.org-rainbow-delimiters-depth-6 {
    color: #888;
}

span.org-rainbow-delimiters-depth-3, span.org-rainbow-delimiters-depth-7 {
    color: #aaa;
}

span.org-rainbow-delimiters-depth-4, span.org-rainbow-delimiters-depth-8 {
    color: #ccc;
}

div.figure {
    font-size: 0.85em;
}

.tag {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    float: right;
    margin-top: 1em;
    background: transparent;
}

.tag span {
    background: #ccc;
    padding: 0 0.5em;
    border-radius: 4px;
    color: white;
}

.todo, .done, .cancelled {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0 0.25em;
    border-radius: 4px;
}

.todo {
    background: #CB4B16;
    color: #FFFFFF;
}

.done {
    background: #859900;
    color: #FFFFFF;
}

.cancelled {
    background: #839496;
    color: #FFFFFF;
}

dd {
    padding-bottom: 15px;
}


@media screen {
    #docmeta {
        margin-top: 25px;
    }

    h1.title {
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 25px;
    }

    #table-of-contents code {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    html, body {
        font-size: 14px;
        width: 100%;
    }

    #docmeta {
        margin-top: 0px;
    }

    #content {
        width: 90%;
        margin: 0 auto;
    }

    h1.title {
        font-size: 30px;
        margin: 0 auto;
        padding: 10px;
    }

    div.outline-2, #footnotes {
        padding: 0 10px 0 10px;
    }

    .outline-3 {
        padding-left: 0;
    }

    .outline-4 {
        padding-left: 0;
    }

    .outline-5 {
        padding-left: 0;
    }

}

@media print {
    body {
        width: 85%;
        color: black;
        -webkit-box-shadow: none;
	      -moz-box-shadow: none;
	      box-shadow: none;
    }

    @page {
        margin: 10mm, 10mm, 20mm, 10mm;
    }

    h2 {
        page-break-before: always;
        margin-top: 10px;
    }

    #docmeta h2 {
        page-break-before: avoid;
    }

    table {
        page-break-inside: avoid;
    }

    a:visited {
        color: black;
        background: #ff8;
    }

    a[href^="http"]:visited {
        background: #bff;
    }

    div.notice:before {
        display: none;
    }
}
